OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4
MASTRA_USE_CLOUD_STORAGE=
MASTRA_STORAGE_URL=
MASTRA_STORAGE_AUTH_TOKEN=
ALLOWED_ORIGIN=https://app.contentful.com
ALLOWED_ORIGIN_EU=https://app.eu.contentful.com
VITE_PORT=3000
VITE_DEV_SSL_KEY_PATH=
VITE_DEV_SSL_CERT_PATH=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_ORG_ID=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT_ID=master
